<template>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
    <h3 class="panel-title">Login Form</h3>
  </div>
  <div class="panel-body">
  <div class="form-group" >
    <label class="content-label" for="username">User Name</label>
    <input name="username" type="text" class="form-control" id="username" placeholder="User Name" v-model = "username">
    <span v-if="msg.username">{{msg.username}}</span>
  </div>
  <div class="form-group" >
    <label class="content-label" for="password">Password</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="Password" v-model = "password">
    <span v-if="msg.password">{{msg.password}}</span>
  </div>
  <router-link :to="{ name: 'Register' }" class="btn btn-primary">Register</router-link>
  <button type="submit" class="btn btn-primary" @click="addToAPI">Submit</button>
      </div>
     </div> 
    </div>
  </div>
</template>
<script>
/* eslint-disable */ 
import axios from 'axios'
export default {
  name: 'app',
  data () {
    return {
      msg: [],
     username: '',
     password: '' 
    }
  },  
  watch:{
      username(value){
        //this.email = value;
        console.log(value);
        this.check_email(value);
      },
      password(value){
        this.password=value;
        console.log(value); 
        this.check_password(value);
      }
  },  
  methods: {
      addToAPI () {
        let newUser = {
        username: this.username,
        password: this.password,
      }
            console.log(newUser);
      axios.post('https://dashboard.heroku.com/apps/boiling-earth-10935/api/login',newUser)
      .then((response) =>{
        console.log(response);
        this.$router.push('/Home')
       
      })
      .catch((error)=>{
        console.log(error);
      });
    },
        check_email(value)
    {
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value))
        {
          this.msg['username']='';

        }
        else
        {
          this.msg['username']='Keep writing... we are waiting for correct email';

        }
    },
  check_password(value)
  {
    if(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6}/.test(value))
    {
      this.msg['password']=''; 

    }
    else
    {      
      this.msg['password']='enter corect password';
    }

  }
  }
}
</script>

<style>
.panel {
  margin-top : 2em;
}
</style>
