<template>
<div class="row" >
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
    <h3 class="panel-title">Register Form</h3>
  </div>
  <div class="panel-body">
  <div class="form-group" >
    <label class="content-label" for="username">User Name</label>
    <input name="username" type="text" class="form-control" id="username" placeholder="User Name" v-model = "User.username">
  </div>
  <div class="form-group" >
    <label class="content-label" for="password">Password</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="Password" v-model = "User.password">
  </div>
  <div class="form-group" >
    <label class="content-label" for="brand_id">Brand Name</label>
    <input name="brandname" type="text" class="form-control" id="brand_id" placeholder="brandname" v-model = "User.brand_name">
  </div>
  <div class="form-group" >
    <label class="content-label" for="type">type</label>
    <input name="type" type="text" class="form-control" id="type1" placeholder="Type" v-model ="User.type">
  </div> 
  <button type="submit" class="btn btn-primary" @click="addToAPI">Submit</button>
      </div>
     </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */ 
import axios from 'axios'
export default {
  name: 'app',
  data () {
    return {
      msg: 'welcome to your vue.js app',
      User: { username: '', password: '', brand_name: '', type: '' }
        }
  },
  methods: {
      addToAPI () {
        let newUser = {
        username: this.User.username,
        password: this.User.password,
        brand_name: this.User.brand_name,
        type: this.User.type
      }
            console.log(newUser);
      axios.post('https://dashboard.heroku.com/apps/boiling-earth-10935/registration',newUser)
      .then((response) =>{
        console.log(response);
       
      })
      .catch((error)=>{
        console.log(error);
      });
    }
  }

}
</script>
<style>
</style>
